@import "tailwindcss";

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

/* import af fonte */
@font-face {
    font-family: "Bevan";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Bevan-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AchivoBlack";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/AchivoBlack-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "ChivoMono";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/ChivoMono-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "GolosText";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/GolosText-Regular.ttf") format("opentype");
}

@theme {
    
    /* farver */
    --color-*: initial;
    --color-green: #C3F079;
    --color-blue: #B1D0FF;
    --color-darkblue: #0D122C;
    --color-darkgrey: #141414;
    --color-hvid: #FAF8F0;

    /* fonte */
    --font-titel: "Bevan", serif;
    --font-overskrift: "AchivoBlack", sans-serif;
    --font-underoverskrift: "ChivoMono", monospace;
    --font-brodtekst: "GolosText", sans-serif;
}

/* styling af tekst */
h1 {
    font-family: var(--font-titel);
}


/* standard farver bg+txt */
body {
    background-color: var(--color-hvid);
    color: var(--color-darkblue);
}