---
const midtertekst = "> mig <";
---

<div class="bg-[url('/assets/figur.svg')] bg-no-repeat bg-center h-[280px]">
  <div class="flex items-center justify-center h-full gap-13 text-xl">
    <h3>udvikler</h3>
    <h3>{midtertekst}</h3>
    <h3>designer</h3>
  </div>
</div>
