---
import Displayblock from "./displayblock.astro";
import { casearray } from "../../scripts/casearray";

const pil = ">";

const images = casearray.flatMap((c) => c.imgdisplay);
---

<div class="flex overflow-x-auto">
  <div class="mx-auto max-w-7xl px-5">
    <div class="flex items-center gap-5 min-w-max">
      <div class="sm:w-[300px] w-[250px] shrink-0 flex flex-col justify-center">
        <h2 class="text-6xl lg:text-7xl">Fotos</h2>
        <p>Udvalgte billeder af casen</p>
      </div>

      <h3 class="text-xl shrink-0 sm:mr-10">{pil}</h3>

      <div class="flex gap-5">
        {images.map((src) => (
          <Displayblock billede={src} />
        ))}
      </div>
    </div>
  </div>
</div>
