---
const { src } = Astro.props;
---
<div class="mx-auto max-w-xl bg-green p-5 sm:pl-5 pl-0 sm:rounded-xl rounded-e-xl">
          <img
        src={src}
        alt="Christine"
        class="w-full h-full max-h-[600px] object-cover sm:rounded-xl rounded-e-xl"
      />
</div>