---

---

<div class="group relative text-xl inline-block">
  <span
    class="relative
      before:content-['>']
      after:content-['<']
      before:opacity-0
      after:opacity-0
      before:transition-opacity
      after:transition-opacity
      group-hover:before:opacity-100
      group-hover:after:opacity-100
      before:mr-1
      after:ml-1"
  >
    <input
      id="streng-input"
      maxlength="30"
      type="text"
      value="Christines portfolio"
      class="text-xl bg-transparent border-none outline-none text-center w-auto cursor-text"
      size="20"
    />
  </span>
</div>

<script>
  const input = document.getElementById("streng-input") as HTMLInputElement;

  const gemt = sessionStorage.getItem("strengTekst");
  if (gemt) {
    input.value = gemt;
    document.dispatchEvent(new CustomEvent("strengChanged", { detail: gemt }));
  }

  const resize = () => {
    input.size = Math.max(input.value.length, 1);
  };

  input.addEventListener("input", () => {
    resize();
    sessionStorage.setItem("strengTekst", input.value);
    document.dispatchEvent(
      new CustomEvent("strengChanged", { detail: input.value }),
    );
  });

  resize();
</script>
