---
import Layout from "../layouts/Layout.astro";
import Header from "../components/UI/header.astro";
import Footer from "../components/UI/footer.astro";
import Knap from "../components/UI/knap.astro";
---

<Layout>
  <Header />
  <h1>titel</h1>
  <h2>overskrift</h2>
  <h3>underoverskrift</h3>
  <p>brødtekst</p>
  <Knap />
  <Footer />
</Layout>
