---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/UI/footer.astro";
import Knap from "../components/UI/knap.astro";
import Figur from "../components/blocks/figur.astro";
import ShowWork from "../components/work/workshow.astro";
import Img from "../components/blocks/img.astro";
import Overskrift1 from "../components/blocks/overskrift1.astro";
import Overskrift2 from "../components/blocks/overskrift2.astro";
import Underoverskrift from "../components/blocks/underoverskrift.astro";
import Brodtekst from "../components/blocks/brodtekst.astro";
import BrodtekstNoGap from "../components/blocks/brodtekst_nogap.astro";
import Streng from "../components/blocks/streng.astro";

import Sketch from "../components/sketch.astro";
---

<Layout>
  <div class="grid gap-25">
    <Sketch tekst="Christine's portfolio" />
    <div class="mx-auto max-w-7xl grid text-center gap-5">
      <Streng />
      <div class="flex justify-center gap-1 sm:gap-5">
        <Knap tekst="about" />
        <Knap tekst="work" />
        <Knap tekst="contact" />
      </div>
    </div>
    <Img src="/assets/christine.png" />
    <div class="grid gap-10">
      <div id="about">
        <Overskrift1 titel="about" />
        <Underoverskrift>
          <h3 class="text-lg">{`> `}hello, my name is Christine</h3>
          <h3 class="text-lg">{`> `}I am a Coded Designer</h3>
        </Underoverskrift>
      </div>
      <Brodtekst>
        <p>
          I am a coded designer, and I work with digital experiences where
          technology and creativity merge.
        </p>
        <p>
          I have experience working both independently and in interdisciplinary
          teams. I am especially motivated when I can help turn ideas into
          something people can interact with and feel, and I thrive best in
          projects where I can experiment my way forward.
        </p>
        <p>
          At the moment, I am particularly interested in interaction and
          gamification as ways to create engaging and meaningful digital
          experiences.
        </p>
        <p>
          I am always open to new projects and collaborations — especially those
          that challenge conventional ways of using technology.
        </p>
      </Brodtekst>
      <div class="py-10">
        <Figur />
      </div>
      <div class="grid gap-2">
        <Underoverskrift>
          <h3 class="text-lg">{`> `}Education</h3>
        </Underoverskrift>
        <div class="grid gap-5">
          <BrodtekstNoGap aar="September 2024 — June 2027">
            <p>Professional Bachelor’s Degree</p>
            <p>Visual communication, coded design</p>
            <p>Danish School of Media and Journalism</p>
          </BrodtekstNoGap>
          <BrodtekstNoGap aar="January 2024 — June 2024">
            <p>IT-infrastructure</p>
            <p>University of Copenhagen</p>
          </BrodtekstNoGap>
          <BrodtekstNoGap aar="January 2024 — June 2024">
            <p>Empirical Methodologies 1</p>
            <p>University of Copenhagen</p>
          </BrodtekstNoGap>
          <BrodtekstNoGap aar="September 2023 — January 2024">
            <p>Introduction to Computer Science</p>
            <p>University of Copenhagen</p>
          </BrodtekstNoGap>
          <BrodtekstNoGap aar="September 2023 — January 2024">
            <p>Introduction to Communication Theory</p>
            <p>University of Copenhagen</p>
          </BrodtekstNoGap>
          <BrodtekstNoGap aar="January 2023 — June 2023">
            <p>Formlab, glass and ceramics</p>
            <p>Engelsholm Højskole</p>
          </BrodtekstNoGap>
        </div>
      </div>
    </div>

    <div id="work" class="grid gap-10">
      <div>
        <Overskrift1 titel="work" />
        <Underoverskrift>
          <h3 class="text-lg">
            {`> `}Work, cases and personal projects
          </h3>
        </Underoverskrift>
      </div>
      <ShowWork />
    </div>
    <div id="contact">
      <Footer />
    </div>
  </div>
</Layout>
