---
const { tekst } = Astro.props;
---

<div id="sketch" data-tekst={tekst}></div>

<script>
  import p5 from "p5";

  const sketchEl = document.getElementById("sketch");
  let tekst = (sketchEl?.dataset.tekst ?? "").toLowerCase();

  const root = getComputedStyle(document.documentElement);
  const darkblue = root.getPropertyValue("--color-darkblue").trim();
  const green = root.getPropertyValue("--color-green").trim();
  const hvid = root.getPropertyValue("--color-hvid").trim();
  const fontTitel = root.getPropertyValue("--font-titel").trim();
  const fontBrodtekst = root.getPropertyValue("--font-brodtekst").trim();
  const fontOverskrift = root.getPropertyValue("--font-overskrift").trim();
  const fontUnderoverskrift = root
    .getPropertyValue("--font-underoverskrift")
    .trim();

  let phase = 0;
  let offset = 0;
  const frequency = 0.04;
  const amplitude = 70;

  // SKETCH START

  const sketch = (p: any) => {
    const getWidth = () => document.documentElement.clientWidth;
    const getHeight = () => document.documentElement.clientHeight;

    p.setup = () => {
      const canvas = p.createCanvas(getWidth(), getHeight());
      canvas.elt.style.pointerEvents;
      p.textAlign(p.CENTER, p.CENTER);
    };

    p.draw = () => {
      p.background(darkblue);

      p.fill(green);
      p.noStroke();
      p.textFont(fontUnderoverskrift);
      p.textSize(20);

      const letters = (tekst + " > ").split("");
      const letterSpacing = 17;
      const speed = 0.2;

      offset += speed;

      const shift = offset % letterSpacing;

      for (
        let i = -2;
        i * letterSpacing - shift < getWidth() + letterSpacing;
        i++
      ) {
        const x = i * letterSpacing - shift;
        const worldX = x + offset;

        const letterIndex =
          (((worldX / letterSpacing) % letters.length) + letters.length) %
          letters.length;
        const letter = letters[Math.floor(letterIndex)];

        const distFromCenter =
          0.2 - Math.abs((x - getWidth() / 2) / (getWidth() / 2));
        const variableAmplitude =
          amplitude * (0.1 + 0.9 * distFromCenter * distFromCenter);

        const y =
          getHeight() / 2 +
          variableAmplitude * p.sin(frequency * worldX + phase);

        p.text(letter, x, y);
      }

      phase += 0.02;
    };

    p.windowResized = () => {
      p.resizeCanvas(getWidth(), getHeight());
    };
  };

  new p5(sketch, document.getElementById("sketch") ?? undefined);

  // Lyt på ændringer fra streng.astro
  document.addEventListener("strengChanged", (e: Event) => {
    tekst = (e as CustomEvent).detail.toLowerCase();
  });
</script>
