---
import Displayblock from "./displayblock.astro";

const pil = ">";

type Props = {
  images?: string[];
};

const { images = [] } = Astro.props;
---

<div class="overflow-x-auto sm:overflow-visible">
  <div class="mx-auto max-w-7xl px-5">
    <div class="flex items-center min-w-max sm:min-w-0 sm:justify-center">
      <h3 class="text-5xl shrink-0 mx-25 sm:hidden">{pil}</h3>

      <div class="flex gap-5 sm:grid sm:grid-cols-2 lg:grid-cols-3">
        {images.map((src: string) => (
          <Displayblock billede={src} />
        ))}
      </div>
    </div>
  </div>
</div>
