---
const { titel } = Astro.props;

import Underoverskrift from "../blocks/underoverskrift.astro";
---

<div class="bg-darkgrey text-blue">
  <div
    class="mx-auto max-w-7xl px-5 py-5 grid grid-cols-1 md:grid-cols-2 items-center"
  >
    <!-- venstre -->
    <div class="flex items-center gap-5">
      <a href="../../#work" class="shrink-0">
        <img
          src="/assets/pil.svg"
          class="block h-[42px] w-[42px] shrink-0"
          alt="go back"
        />
      </a>
      <Underoverskrift>
        <h3>/ {titel}</h3>
      </Underoverskrift>
    </div>

    <!-- højre: fjern plads helt på mobil -->
    <div class="hidden md:flex flex-col items-end text-sm">
      <p>Christine Wrang Swierkosz</p>
      <p>Portfolio</p>
    </div>
  </div>
</div>
