---
const { sti } = Astro.props;
---

<div class="bg-darkgrey text-blue">
  <div class="mx-auto max-w-7xl px-5 py-5 grid grid-cols-2">
    <div class="flex gap-5 items-center">
      <a href=".">
        <img src="assets/pil.svg" class="h-[42px] w-[42px]" alt="" />
      </a>
      <h3 class="text-xl">/ {sti}</h3>
    </div>

    <div class="flex flex-col items-end text-base">
      <p>Christine Wrang Swierkosz</p>
      <p>Portfolio</p>
    </div>
  </div>
</div>
