---
const { tekst } = Astro.props;
---

<a href=`#${tekst}`>
  <button class="group cursor-pointer">
    <h3
      class="before:content-['['] after:content-[']'] group-hover:before:content-['>'] group-hover:after:content-['<']"
    >
      {tekst}
    </h3>
  </button>
</a>
