---
const { tekst } = Astro.props;
---
<a href=`#${tekst}`>
  <button class="group bg-blue p-3 rounded-full text-xl cursor-pointer">
    <h3
      class="relative
              before:content-['>']
              after:content-['<']
              before:opacity-0
              after:opacity-0
              before:transition-opacity
              after:transition-opacity
              group-hover:before:opacity-100
              group-hover:after:opacity-100"
    >
      {tekst}
    </h3>
  </button>
</a>
